.sidebar {
  background-color: #112D68;
  font-size: 14px;
  border: none;
}

.sidebar>h1 {
  text-align: left;
  margin-left: 20px;
}

.sidebar>h1 a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.sidebar ul {
    margin: 0 0 0 20px;
}

.sidebar ul li a {
  color: white
}

.sidebar ul li.active>a {
  background-color: white;
  color: #112D68;
  border: none;
  padding: 5px 15px;
}

.sidebar-toggle {
  background-color: #112D68;
  padding: 20px;
}

.sidebar-toggle span {
  background-color: var(--theme-color, white);
}

.sidebar-toggle:hover .sidebar-toggle-button {
    opacity: 1;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    padding: 20px;
  }
  body.close .sidebar-toggle {
    padding: 20px;
    background-color: #112D68;
  }
}
